body {
  margin: 10px;
  background: rgb(27, 26, 26);
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-top: 40px;
  border-radius: 20%;
}

h2 {
  color: rgb(253, 251, 251);
}
p {
  color: grey;
  margin-left: 10px;
}

.orange {
  background: orange;

}

.grey {
  background: grey;

}

.green {
  background: lawngreen;

}

.pink {
  background-color: pink;
}