body {
  margin: 10px;
  background: rgb(27, 26, 26);
}

.box {
  display: block;
  width: 100px;
  height: 100px;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 20%;
}

h2 {
  color: rgb(253, 251, 251);
}

.orange {
  background: orange;

}

.green {
  background: lawngreen;

}

#output {
  color: #eee;
  margin-left: 10px;
  margin-top: 20px;
}